<IfModule mod_fcgid.c>
   AddHandler fcgid-script .fcgi
   <Files ~ (\.fcgi)>
       SetHandler fcgid-script
       Options +ExecCGI
   </Files>
</IfModule>

<IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</IfModule>

Options +FollowSymlinks
#SSLVerifyClient optional

RewriteEngine On
#RewriteBase /

RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/login
RewriteCond %{REQUEST_URI} !^/user/
RewriteCond %{REQUEST_URI} !@
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R,QSA,L]

RewriteRule favicon.ico https://scripts.mit.edu/favicon.ico [R,L]

RewriteCond %{REQUEST_URI} ^/$ [OR]
RewriteCond %{REQUEST_URI} ^/login [OR]
RewriteCond %{REQUEST_URI} ^/logout
RewriteRule ^(.*)$ app.fcgi/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ gold.fcgi/$1 [QSA,L]
RewriteRule ^(.*)$ app.fcgi/$1 [QSA,L]
