{% extends "base.html" %}

{% block title %}WebID@mit.edu{% endblock %}

{% block main %}

<div class="container" style="max-height: 20em; overflow-y: scroll"> 
{% if keys %}
    <h2>Active Keys</h2>
    <table class="table table-striped">
    <thead>
    <tr><th>time</th><th>modulus</th><th>device</th></tr>
    </thead>
    {% for key in keys %}
    <form method="post">
    <tr>
        <td>{{ key|key_when }}</td>
        <td><input type="text" value="{{ key[1] }}" readonly=readonly name="key" /></td>
        <td>{{ key[3] }}</td>
        <td><button class="btn-danger" type="submit" name="submit" value="revoke">revoke</button>
    </tr>
    </form>
    {% endfor %}
    </table>

{% else %}
<p>You have no keys. <b>Add New Key</b> below to get started!</p>
{% endif %}
</div>

<hr />

    <div class="container"> 

    <script type="text/javascript">
        function refreshSoon() {
            setInterval(function() { window.location = '/'; }, 3000);
        }
    </script>

      <div class="row"> 
        <div class="span4"> 
          <h2>Add New Key</h2> 
          <p>Issue a WebID certificate for your current browser:</p>
          <form method="post" onsubmit="refreshSoon()">
          name: <input name="x509cn" type="text" placeholder="{{ x509cn }}" /><br />
          validity (days): <input name="x509days" class="input-mini" type="text" placeholder="{{ x509days }}" /><br />
          strength: <keygen name="spkac" /><br /><br />
          <button type="submit" class="btn" />add new</button>
          </form>
        </div> 
        <div class="span4"> 
          <h2>Set <a target="_blank" href="//www.w3.org/wiki/UsingSeeAlso">seeAlso</a></h2> 
          <p>Link additional profile data:</p>
          <form method="post">
          <div class="input-append">
              <input name="seeAlso" type="text" value="{{ seeAlso }}" placeholder="eg. https://{{ uid }}.mit.edu/profile#" />
              <button class="btn" type="submit">save</button>
          </div>
          </form>
       </div> 
      </div> 
    </div> <!-- /container -->
{% endblock %}

{% block footer %}
  <hr> 
    <p align="right" style="margin: 1em;">
        <a target="_blank" href="http://webid.info/">info</a>
        | <a target="_blank" href="//www.w3.org/wiki/WebID">wiki</a>
        | <a target="_blank" href="https://dvcs.w3.org/hg/WebID/raw-file/tip/spec/index-respec.html">spec</a>
    </p>
{% endblock %}
