{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
 
    <div class="container"> 
 
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit"> 
        <h1>keygen</h1>
        <form method="post" accept="application/x-x509-user-cert">
        <keygen name="spkac">
        <input type="submit" value="submit">
        </form>
        <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
      </div> 
 
      <!-- Example row of columns --> 
      <div class="row"> 
        <div class="span4"> 
          <h2>Heading</h2> 
          <p>foo</p>
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
        <div class="span4"> 
          <h2>Heading</h2> 
          <p>bar</p>
       </div> 
        <div class="span4"> 
          <h2>Heading</h2> 
          <p>baz</p>
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
      </div> 
 
      <hr> 
 
      <footer> 
        <p>website</p> 
      </footer> 
 
    </div> <!-- /container --> 
 
{% endblock %}
